@font-face {
    font-family: Eyeglass;
    src: local("Eyeglass"), url('/Content/Fonts/eyeglass-normal.ttf') format('truetype');
}

html {
    overflow-y: scroll;
    display: block;
    background-color: #F5FCFF;
}

head {
    display: none;
}

body {
    font-family: Calibri;
    margin: 0px;
    display: block;
}

a:hover {
    border-bottom: 4px solid dodgerblue;
}

a {
    text-decoration: none;
}

#top {
    width: 1220px;
    margin: auto;
    height: 60px;
}

.toplogo {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

#topnav {
    height: 25px;
}

#new_user {
    margin-left: 32%;
}

#belowTopnav {
    width: 1220px;
    margin: auto;
}

.page {
    width: 1220px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px 3px #d3d3d3;
    border-radius: 4px;
    background-color: #ffffff;
}

.pageDown {
    width: 1220px;
    float: left;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px 3px #d3d3d3;
    border-radius: 4px;
    background-color: #ffffff;
}

#main {
    width: 822px;
    float: left;
    padding: 7px;
    padding-top: 0px;
    overflow: hidden;
}

.centerElement {
    text-align: center;
}

.leftalignElement {
    float: left;
}

.background-logo {
    z-index: 0;
    opacity: 0.1;
    display: block;
    pointer-events: none;
    background-image: url('Images/templogo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Login
----------------------------------------------------------*/
#login {
    position: relative;
    width: 246px;
    padding: 7px;
    padding-top: 0px;
    overflow: hidden;
    margin: 0 auto;
}

.logininput {
    padding: 6px 2px;
    width: 243px;
    vertical-align: middle;
    margin-bottom: 4px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    font-size: 14px;
}

.loginbutton {
    width: 100%;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    font-size: 16px;
    padding: 5px 2px;
    border-radius: 5px;
    cursor: pointer;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #28aade 0%, #207cca 100%, #346897 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#28aade), color-stop(100%,#207cca), color-stop(100%,#346897)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1e5799 0%,#28aade 0%,#207cca 100%,#346897 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1e5799 0%,#28aade 0%,#207cca 100%,#346897 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1e5799 0%,#28aade 0%,#207cca 100%,#346897 100%); /* IE10+ */
    background: linear-gradient(to bottom, #1e5799 0%,#28aade 0%,#207cca 100%,#346897 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#346897',GradientType=0 ); /* IE6-9 */
    border-color: dodgerblue;
}

.button {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    font-size: 16px;
    padding: 5px 2px;
    border-radius: 5px;
    cursor: pointer;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #28aade 0%, #207cca 100%, #346897 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#28aade), color-stop(100%,#207cca), color-stop(100%,#346897)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1e5799 0%,#28aade 0%,#207cca 100%,#346897 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1e5799 0%,#28aade 0%,#207cca 100%,#346897 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1e5799 0%,#28aade 0%,#207cca 100%,#346897 100%); /* IE10+ */
    background: linear-gradient(to bottom, #1e5799 0%,#28aade 0%,#207cca 100%,#346897 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#346897',GradientType=0 ); /* IE6-9 */
    border-color: dodgerblue;
}

/* Navigation
----------------------------------------------------------*/
.buildernav ul {
    text-align: center;
}

.buildernav li {
    list-style: none;
    text-transform: uppercase;
    padding-left: 15px;
    display: inline;
}

    .buildernav li :hover {
        border-bottom: 1px solid blue;
    }

#duedil-nav {
    text-align: center;
}

#topnav a:hover {
    color: darkgray;
    cursor: pointer;
}

/* site title
----------------------------------------------------------*/
.site-title > a, .site-title a:hover, .site-title a:active {
    color: black;
    outline: none;
    text-decoration: none;
    text-align: right;
}

.logout-button {
    float: right;
    font-size: 22px;
    margin-top: 20px;
    margin-right: -10px;
    text-decoration: none;
    background-color: #57809e;
    color: white;
    border-bottom: 2px solid #3d627d;
    padding: 10px;
}

/* CBH Dashboard
----------------------------------------------------------*/
.dashboard-container {
    width: 1100px;
    margin: auto;
    padding-left: 20px;
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid #000000;
    border-radius: 4px;
}

.meters {
    display: inline-block;
    text-align: center;
}

.graphs {
    width: 685px;
    height: 650px;
    margin-top: 10px;
    float: left;
    text-align: center;
    background-color: dodgerblue;
}


.centermeters {
    width: 250px;
    height: 200px;
    display: inline-block;
}

.multiview {
    clear: both;
    margin: 0 auto;
    width: 800px;
}

#temppanel1 {
    float: left;
    margin: 4px 0px 0px 5px;
    width: 330px;
    height: 600px;
    background-color: lightgray;
}

#temppanel2 {
    float: left;
    margin: 4px 4px 0px 16px;
    width: 330px;
    height: 600px;
    background-color: lightgray;
}

.projectPanel {
    height: 400px;
    width: 110px;
    float: none;
}

/* Project Proposal
----------------------------------------------------------*/
#PP-table {
    margin: 0 auto;
}

.PP-textbox {
    float: right;
    padding: 3px;
    width: 45%;
}

.DropDown_Style {
    float: right;
    padding: 3px;
    margin-top: 2px;
}

.projectRowButton {
    width: 800px;
    text-align: left;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 3%;
    box-shadow: 0px 0px 10px 0px #d3d3d3;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: large;
}

    .projectRowButton:hover {
        background-color: lightblue;
    }
/*seems like I should manipulate this in the body not seperately*/
.menubar {
    background-color: #B8B8B8;
    height: 25px;
}

/* Due Diligence
----------------------------------------------------------*/
#sidemenu {
    width: 210px;
    float: left;
    margin-right: 5px;
    visibility: hidden;
}

.multiviewpanel {
    padding: 5px;
    width: 850px;
    margin: 5px auto;
}

.DD-uploadcontainer {
    clear: both;
}

.DD-label {
}

.DD-buttons {
    float: right;
}

.DD-browse {
    background-image: url('Images\DueDiligence\browse.png');
}

.drop_zone {
    margin: 10px;
    width: 35%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 7px dashed #2371a2;
    height: 90px;
}

/* New User Login
----------------------------------------------------------*/
.createNewUser {
    margin: 0 auto;
    width: 400px;
    height: 100%;
}

.inputButton {
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 2.3em;
    font-weight: 600;
    margin: 0 35px 20px 0;
    text-align: left;
}

    ul#menu li {
        list-style: none;
        padding-left: 15px;
        display: inline;
    }

        ul#menu li a {
            background: none;
            color: white;
            text-decoration: none;
        }

ul#horizontal-list {
    text-align: center;
    list-style: none;
}

ul.menu-list {
    min-width: 70%;
    list-style: none;
}

ul#horizontal-list li {
    display: inline;
    font-size: 20px;
    padding-left: 30px;
}

ul.menu-list li {
    display: inline;
    font-size: 20px;
    padding-left: 30px;
}

ul#horizonatal-list li a {
    text-decoration: none;
}

a {
    color: inherit;
}

.panel-style {
    display: inline-block;
    margin: 5px auto;
    padding: 10px;
}


/*RANDOM*/
.projectrowpanel {
    background-color: #bbb;
    display: block;
    margin: 5px auto;
    padding: 5px;
}

.graphcontainer {
    background-color: white;
    height: 42%;
    width: 100%;
}

.tasklist th {
    border: 1px solid black;
    background-color: black;
    color: white;
}

.tasklist td {
    margin: 0px 0px -1px 0px;
    background: white;
}

.bottomhalf {
    height: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.tscontainer {
    background-color: white;
    position: relative;
    width: 66%;
    height: 48%;
    margin-right: 2%;
    display: inline-block;
    float: left;
    top: 39px;
    left: 21px;
}

.mapcontainer {
    background-color: white;
    position: relative;
    width: 30%;
    height: 47%;
    margin-left: 2%;
    display: inline-block;
    float: right;
    top: 40px;
    left: -7px;
}

.footer {
    width: 1040px;
    margin: auto;
    font-size: 11px;
    text-align: center;
    padding-left: 30px;
    padding-right: 150px;
}

.success .pending .declined {
    padding: 10px;
    font-size: 18px;
}

.success {
    background-color: #5CB85C;
}

.pending {
    background-color: #F0AD4E;
}

.declined {
    background-color: #D9534F;
}

.pnlMap {
    text-align: center;
}
